#for whole of flask framework
from flask import Flask,redirect, url_for,render_template, request,session,flash,request, jsonify

#to make forms out of Flask framework , you can also use default html forms however you need to request those from the forms manually
from flask_wtf import FlaskForm
from wtforms import StringField , PasswordField,SubmitField
from wtforms.validators import DataRequired,Length, Email , EqualTo, ValidationError
from wtforms.widgets import TextArea

#sqlalchemy just makes it so easier to manage the sql statements
from flask_sqlalchemy import SQLAlchemy

#for login sessions
from flask_login import LoginManager, UserMixin, login_user,current_user,logout_user,login_required

#self explanatory
from datetime import datetime

#api call, you can also use flask socket io but i had trouble with that actually
import pusher
